.slider-full {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-container {
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    align-content: center;
    align-items: center;

    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }

    &.dragging {
      cursor: grab;
      & > .slider-full-item:hover {
        pointer-events: none;
      }
    }
  }
}
