.list-sections {
  a {
    &:hover {
      .line {
        width: 30px;
        background: var(--gamma);
      }
    }
    .line {
      transition: all 0.3s ease-in-out;
      content: "";
      width: 20px;
      height: 1px;
      background: white;
      margin-right: 16px;
    }
  }
}
