.slider {
  &-wrapper {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  &-container {
    overflow: hidden;
  }
  &-indicators {
    display: flex;
    justify-content: center;
  }
  &-indicator {
    width: 15px;
    height: 15px;
    border-radius: 300px;
    background: var(--gamma);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: all 200ms ease;
    &.active {
      background: var(--delta);
      width: 25px;
    }
  }
}
